{% extends 'base.html' %}
{% block content %}
   <main class="container">    
       <section class="card mx-auto w-50 mt-5">
           <form action="" method="get" class="mx-auto">
              <h1> staff login </div>
               
               <ul>
                   <li>
                       <label for="username">username</label>
                       <input type="text"name="username">
                   </li>
                   <li>
                       <label for="password">password</label>
                       <input type="password"name="password">
                   </li>
               </ul>
                   <div class="btn">
                   <input type="button"name="loginbtn" value="login">
                      </div>
                  <div class="password"><a href="forgot password">forgot password</a></div>
               </div>
           </form>
       </section>
       
   
   </main>
{% endblock content%}
             