{% extends 'base.html' %}
{% block content %}
<h1>welcome to Elgon View College</h1>
<p>Institution of your choice</p>
<p>students are required to login into the portal in to view your fees statement,personal information,class attendance</p>
<img src="static/image/elgon administration.jpg">


<script type="text/javascript">
    let img=document.getElementsById("image")
    let images=['elgon administration.jpg','academic.jpg','center.jpg']
    setInterval(function(){
        let random=Math.floor(Math.random() *3 );
        image.scr=images [random];
    })
</script>


{% endblock %}
