
  ul {
    list-style-type: none;
    margin-top: 60px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color:coral;
  }
  
  .active {
    background-color:coral
  /* }
  .sub_menu{
    display:none;
    
  }
  .nav_item,ul,li:hover .sub_menu{

    display: block;
    position: absolute;
    background-color: #333;
    margin-top: 15px;
    margin-left: _15px;
  }
  .nav_item,ul,li:hover .sub_menu{
    display: block;
    margin: 10px;
  }
  .nav_item,ul,li:hover .sub_menu ul,li{
   width: 150px;
   padding: 10px;
   border-bottom: 1px;
   border-radius: 0;
   text-align: left;
   background: transparent;

  }
  .nav_item,ul,li:hover .sub_menu ul,li:last-child{
    border-bottom: none; 
  }
  .nav_item,ul,li:hover .sub_menu ul,li,a:hover{
    color: chocolate; */
  }
 
    
  
  .tbl1{
    margin:1cm;
    padding: 1cm;
    border-radius: 0% red;
    text-align: inline;
    border-bottom: 2px;
    display: flex;
    justify-content:  space-between;
    width: 50%;
    flex-wrap: wrap;

  }
  img{
    display: block;
    width: 800px;
    margin: 0 auto;
    transition: 0.3s;
    
  }
    


 
  
  /* label{

    display: inline;
  }

  input{
    width: 100%;
    border: 2px solid red;
    border-radius: 10px;
    color: black;    

  } */
  .submit{
    margin-top:  1cm;
    width: 20px;
    cursor: pointer;
    background-color:green;
    color: white;
    border-radius: 0%;

  }
  h1,h2,h3{
    color:blue;
    font-weight: bold;
    display: block;
    text-align: center;
  }
  body{
    background-color:transparent;
    font-family: Arial, Helvetica, sans-serif;
  }
.appyform{
  float: center;
  padding: 0px;
  color: green;
}
.aseriskField{
  display: none;
}
 