{% extends 'studenthomepage.html' %}
{% block content %}
<div><i class="fa-solid fa-plus"><a href="{% url 'studefeespdf' %}">Create report</a></i></div>


<h1>{{title}}</h1>
<table border="1">
    <thead>
        <tr>
        <td>serial no</td>
        <td>regnumber</td>
        <td>telephone_number</td>
        <td>amount</td>
        <td>date</td>
        </tr>
     </thead>
     {% for k in queryset %}
     <tbody>
        <tr>
            <td>{{ forloop.counter}} </td>
            <td>{{ k.student_number}}</td>
            <td>{{ k.telephone_number}}</td>
            <td>{{k.amount}}</td>            
            <td>{{ k.date}}</td>
           
                    
            
        </tr>
     </tbody>
     {%endfor%}
</table>
{% endblock %}